.about-section {
padding: 80px 0;
margin-top: 80px;
}

.about-img {
width: 90%;
height: auto;
border-radius: 15px;
margin-left: auto;
margin-right: auto;
display: block;
}

.about-text {
padding-left: 20px;
position: relative;
text-align: left;
}


.color {
width: 90px;
height: 5px;
background-color: #f8c9de;
border-radius: 10px;
margin: 10px auto 20px; /* توسيط تلقائي تحت العنوان */
display: block;
position: relative;
}


.about-text h2 {
font-size: clamp(28px, 4vw, 45px);
font-weight: bold;
color: #333;
}


.about-text p {
font-size: 1.1rem;
color: #555;
line-height: 1.6;
}


.btn-pink {
background-color: #fc95c4;
width: 200px;
border: none;
padding: 15px 45px;
border-radius: 10px;
transition: 0.3s ease;
font-weight: bold;
text-align: center;
margin-top: 20px;
}
.btn-pink a {
text-decoration: none !important;
color: white !important;
}
.btn-pink:hover {
background-color: whitesmoke;
color: black;
}


@media (max-width: 768px) {
.about-section {
padding: 40px 20px;
}

.about-text {
padding-left: 0;
text-align: center;
margin-top: 20px;
}

.about-img {
width: 100%;
margin-bottom: 20px;
}

.btn-pink {
margin: 0 auto;
display: block;
}
}
