.container{
position: relative;
}

.color2{
width:90px;
height: 5px;
background-color: #f8c9de;
position: absolute;
left:50%;
transform: translateX(-50%);
top:2%;
border-radius: 10px;
}

.card{
border-radius: 10px;
}

.card-img{
width: 100%;
max-width: 300px;
border-radius: 10px;
margin: auto;
padding: 20px;
}

.card-body .btn-pink2,
.btn-pink3{
margin: 10px auto !important;
display: block;
border: none;
background-color: #fc95c4 !important;
color: white !important;
padding: 12px 50px !important;
border-radius: 10px;
width: 190px;
text-align: center;
}
.btn-pink3{
  margin-left: 45% !important;
}
.btn-pink2 a{
text-decoration: none;
color: white;
}

.btn-pink2:hover,
.btn-pink3:hover {
background-color: black !important;
color: white !important;
transition: 0.5s ease;
}

@media (max-width: 992px){
.card-img{
max-width: 250px;
padding: 15px;
}
}

@media (max-width: 768px){
.row{
flex-direction: column !important;
}
.card-img{
max-width: 200px;
padding: 10px;
}
.btn-pink3{
 margin-left: 45% !important;
}
}

@media (max-width: 576px){
.card-img{
max-width: 180px;
padding: 5px;
}
.btn-pink2,
.btn-pink3{
width: 150px;
padding: 10px 20px !important;
}
}
