.footer-section {
  margin-top: 100px;
  background-color: #262526;
  color: white;
  padding: 50px 0;
}

.contact-title {
  margin-top: 20px;
  font-weight: bold;
  color: #ffffff;
}

.contact-hr {
  width: 30%;
  border: 0;
  height: 2px;
  background: white;
}


.contact-form .custom-input {
  color: white !important;
  width: 100%; 
  height: 55px;
  font-size: 16px;
  padding: 10px 8px;
  background-color: transparent !important;
  border-bottom: 1px solid white !important;
  border: 0px;
  text-transform: uppercase;
}

.contact-form .custom-input:focus {
  outline: none;
  box-shadow: none;
}

.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  flex-wrap: wrap; 
}

.newsletter-input {
  flex: 3;
  min-width: 200px; 
  height: 55px;
}

.newsletter-btn {
  flex: 1;
  min-width: 100px;
  height: 55px;
  margin-left: -4px; 
  padding: 0 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
}




.btn-pink {
  border: none;
  background-color: #fc95c4 !important;
  color: white !important;
  padding: 10px 50px !important;
  border-radius: 0 !important;
  margin-top: 0px;
  
}

.btn-pink:hover {
  background-color: whitesmoke !important;
  color: black !important;
  transition: 1s ease;
}


.contact-info-wrap .items {
  padding: 10px;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}

.info-icon1,
.info-icon {
  color: #fc95c4;
  font-size: 1.8rem;
}

.info-icon {
  color: white;
}

.info-icon:hover {
  color: #fc95c4;
  transition: 1s ease;
}


.newsletter-input {
  border-radius: 0 !important;
}


.socials {
  margin-top: 40px;
  text-align: center !important;
}

.social-circle {
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-circle:hover {
  background-color: #fc95c4;
  color: white;
  transition: 0.5s ease;
}


@media (max-width: 768px) {
  .contact-title {
    margin-top: 0;
    text-align: center;
  }

  .contact-hr {
    width: 50%;
    margin: auto;
  }

  .contact-info-wrap .items {
    margin-bottom: 20px;
  }

 
  .socials {
    margin: 30px 0 0 0 !important;
    text-align: center !important;
  }

  
  .contact-form .custom-input {
    width: 100% !important;
  }
}

