
.hero-section .carousel-inner{
  background-image: url('../images/banner1-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.hero-slide {
  padding: 0 10%;
  min-height: 90vh;
  height: auto;
  margin-top: -70px;
}

.hero-text {
  width: 45%;
  padding-top: 8%;
  padding-left: 10%;
  font-size: 18px;
}

.hero-text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(28px, 5vw, 60px);
  color: #333;
  font-weight: bold;
}

.hero-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #666;
  margin: 20px 0;
}

.hero-img {
  width: 80%;
  margin-top: 10%;
  margin-left:3%;
}

.btn-pink {
  background-color: #fc95c4;
  color: white;
  border: none;
  padding: 15px 45px;
  border-radius: 10px;
  transition: 0.3s ease;
  font-weight: bold;
}

.btn-pink:hover {
  background-color: whitesmoke;
  color: black;
}

/* carousel indicators */
.carousel-indicators {
  position: absolute;
  top: 60vh; 
  left: 2vw !important;
}

.carousel-indicators button {
  background: none !important; 
  border: none !important;     
  color: #777;                 
}

.carousel-indicators .active {
  color: #fc95c4 !important; 
}

/* responsive for tablets and mobiles */
@media (max-width: 768px) {
  .hero-slide {
    flex-direction: column;
    text-align: center;
    padding: 5%;
  }

  .hero-text {
    width: 100%;
    padding: 0;
  }

  .hero-img {
    width: 90%;
    margin: 20px auto 0;
  }

  .carousel-indicators {
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
  }
}
