
.nav-link:hover,
.bi-search:hover,
.bi-person-fill:hover {
  color: #fc95c4;
}


.navbar-brand img {
  height: 44px;
  width: auto;
  object-fit: contain;
}


@media (max-width: 991px) {
  .navbar .d-flex {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
  }

  .navbar-nav {
    text-align: center;
  }
}

